body {
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}

/* header realeted style */

header {
  background-image: url(images/banner/banner1.png);
  width: 100%;
  height: 808px;
}
.header-content {
  padding: 216px 150px 0px 805px;
  text-align: right;
}
header h1 {
  color: #151414;
  font-size: 35px;
  font-style: normal;
  line-height: normal;
}
header p {
  color: #444343;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
header button {
  border-radius: 5px;
  background: #f15b22;
  border: none;
  padding: 10px;
  color: white;
}

/* main realeted style */

.section-1 {
  padding: 80px 0 50px 180px;
  display: flex;
}
.section-1-content {
  padding: 280px 0 0 0;
}
.section-1-title {
  padding: 0px 250px 0 20px;
}
.section-1-text {
  padding: 0px 250px 0 20px;
  color: #444343;
}
.section-1-check {
  padding: 0px 0px 0 20px;
  color: #444343;
}
.fa-check {
  color: green;
}

.section-2-title {
  text-align: center;
}
/* footer realeted style */
